@using Nca.Domain.Features.DataDefinitions.Get
@model Nca.Domain.Features.DataValues.List.DataValueListQueryResult

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";

    var definition = (DataDefinitionGetQueryResult)ViewBag.Definition;
}

<h2>@definition.Name data values</h2>

@Html.ActionLink("Add", "Add")
<br>
<br>

<table>
    <thead>
    <tr>
        @foreach (var field in definition.Fields)
        {
            <th>@field.Name</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in Model.Values)
    {
        <tr>
            @foreach (var value in entry)
            {
                <td>@value</td>
            }
        </tr>
        <br>
    }
    </tbody>
</table>
