@using Nca.Domain.Features.DataDefinitions.Get
@model Nca.Domain.Features.DataValues.List.DataValueListQueryResult

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";

    var definition = (DataDefinitionGetQueryResult)ViewBag.Definition;
}

<h2>@definition.Name data values</h2>

@Html.ActionLink("Add", "Add")
<br>
<br>

@foreach (var entry in Model.Values)
{
    <div>
        @foreach (var value in entry)
        {
            <span>@value &nbsp;</span>
        }
    </div>
    <br>
}
