@model Nca.Domain.Features.DataDefinitions.Add.DataDefinitionAddCmd

@{
    Layout = null;
}

<h2>Add</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    
    <fieldset>
        <legend>Fields</legend>
        @for (var i = 0; i < Model.Fields.Count; i++)
        {
            <div>
                @Html.LabelFor(m => m.Fields[i].Name, $"{i + 1} Name")
                @Html.TextBoxFor(m => m.Fields[i].Name)
            </div>
        }
    </fieldset>
    
    <button type="submit">Save</button>
}
