@model Nca.Domain.Features.DataDefinitions.Edit.DataDefinitionEditCmd

@{
    Layout = null;
}

<h2>Edit</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    
    @Html.TextBoxFor(m => m.Name)
    
    <button type="submit">Save</button>
}
